div.all-video
    img.all-video__bg(src='img/bg/elem/base3.png')
    div.container
        div.row
            h2.text-center.title-text__md.col-12 Подобранные ролики
            mixin all-video-box(title, desc, price, currency, new_price, new_currency)
                <!----all-video-content----->
                div.all-video-content.col-md-6.col
                    div.all-video-box.video-box
                        include ../../../elements/video/video
                    p.title-text__xs.title-text__xs--black.margin-text= title
                    p.desc-text.desc-text--black= desc
                    div.price
                        div.price-box
                            div.price-box__main
                                p.price-text.price-text--lg.price-text__discount= price
                                span.price-text__currency.price-text__currency--lg= currency
                            div.price-box__discount
                                p.price-text.price-text--lg.price-text--red= new_price
                                span.price-text__currency.price-text__currency--red.price-text__currency--lg= new_currency
                        include ../../../elements/buttons/button_create-video_br
            div.all-video__box.col
                +all-video-box(
                    'Для дня рождения',
                    'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae nisi tempore unde. Aliquid doloribus error fugit iure natus suscipit!',
                    '320', 'грн',
                    '210', 'грн'
                )
                +all-video-box(
                    'Для дня рождения',
                    'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae nisi tempore unde. Aliquid doloribus error fugit iure natus suscipit!',
                    '320', 'грн',
                    '210', 'грн'
                )
                +all-video-box(
                    'Для дня рождения',
                    'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae nisi tempore unde. Aliquid doloribus error fugit iure natus suscipit!',
                    '320', 'грн',
                    '210', 'грн'
                )
                +all-video-box(
                    'Для дня рождения',
                    'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae nisi tempore unde. Aliquid doloribus error fugit iure natus suscipit!',
                    '320', 'грн',
                    '210', 'грн'
                )