mixin video-testi-box(src, name_user, city, data, desc)
    <!----testimonials-box----->
    div.row
     div.testimonials__box.justify-content-between.d-flex.col-lg-8.col-md-10.mx-auto
        div.user-photo__img.testimonials__avatar
            img(src=src)
        div.user-photo__text
            div.d-flex
                p.desc-text.desc-text__name= name_user
                p.desc-text.desc-text__city= city
                p.desc-text.desc-text__data.desc-text__data--right= data
            p.desc-text.desc-text--black.desc-text__md.margin-text-y= desc
div.testimonials-wrap.testimonials-slider.col-12
    <!----testimonials-block----->
    +video-testi-box(
        'img/common/circle-chl.png',
        'Вася',
        'Одесса',
        '12.12.12',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in '
    )
    <!----testimonials-block----->
    +video-testi-box(
    'img/common/circle-chl.png',
    'Вася',
    'Одесса',
    '12.12.2020',
    'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in '
    )
    <!----testimonials-block----->
    +video-testi-box(
    'img/common/circle-chl.png',
    'Вася',
    'Одесса',
    '12.12.1992',
    'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in '
    )
