mixin top-slider(link_bg, link_bg_tablet, link_bg_mobile, title_text, desc_text, link_circle)
    div.top-slider-wrap
        img.top-slider-wrap__bg(src=link_bg)
        img.top-slider-wrap__bg--tablet(src=link_bg_tablet)
        img.top-slider-wrap__bg--mob(src=link_bg_mobile)
        div.top-slider-box.container
            div.top-slider-box__content
                h1.title-text= title_text
                p.desc-text= desc_text
                div
                include ../../elements/buttons/button_try-free
                include ../../elements/buttons/button_example
            div.top-slider-box__img
                img(src=link_circle)
div.top-slider
    <!----top-slider-block---->
    +top-slider(
        'img/bg/slider-bg2.png',
        'img/bg/bg-tablet.png',
        'img/bg/bg-mob.png',
        'Видеопоздравление \n' + 'к вашему празднику',
        'С нашей командой вам создадут самое яркое и кретивное \n' + 'видеопоздравление под любой ваш праздник',
        'img/common/circle-chl.png'
    )
    <!----top-slider-block---->
    +top-slider(
        'img/bg/slider-bg1.png',
        'img/bg/bg-tablet.png',
        'img/bg/bg-mob.png',
        'Видеопоздравление \n' + 'к вашему празднику',
        'С нашей командой вам создадут самое яркое и кретивное \n' + 'видеопоздравление под любой ваш праздник',
        'img/common/circle-old.png'
    )